.crop-area {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dotted #999;
}

.image-upload-widget{
    margin-bottom: 10px;
}

.image-upload-widget .preview_container {
    position: relative;
    float: left;
}

.image-upload-widget .preview_container:hover {
    cursor: pointer;
}

.image-upload-widget .preview_container:hover .delete {
    display: block;
}


.image-upload-widget .preview_container .delete {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    display: none;
    color: red;
}
